<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="问题,faq">
    <title>FAQS</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/index3hk.css}">
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/assets/angular-translate.min.js}"></script>
    <script th:src="@{/js/assets/angular-translate-loader-static-files.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <base th:href="@{/appPage/indexDetailed}">

    <style>
        #SnapABug_bImg{
            width:100%;
        }
        .scrollToTop > img {
            position: fixed;
            z-index: 10;
            bottom: 20px;
            left: 30px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            #cc{
                word-wrap:break-word;
                height:100%;
            }
            #cc iframe {
                width:100% !important;
            }
            #cc img { width:100%;}
            #cc video {
                width:100%;
                height:100%;
            }
        }
        @media (min-width: 992px){
            .col-md-offset-2 {
                margin-left: 4%;
            }
            .col-md-8 {
                width: 89.666667%;
            }
            .feedback .col-md-8 {
                width: 70%;
            }
        }

    </style>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });

    </script>
</head>
<body ng-app="myapp" ng-controller="indexDetailedController">
<!-- 头部-->
<div id="navbar">
    <nav class="navbar-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-top-left">
                    <ul class="navbar-top-left-list navbar-top-list">
                        <li class="navbar-logo-block"><span class="v-align-middle"></span><a href="https://www.three.com.hk/tc/home.html"><img class="navbar-logo" th:src="@{/img/brandThree.png}" alt="3" /></a></li>
                        <li class="hidden-xs"><a href="javascript:void(0)" class="navbar-body-anchor" data-menu="buy"><span class="navbar-label">{{'lab101'|translate}}</span></a></li>
                        <li class="hidden-xs"><a href="javascript:void(0)" class="navbar-body-anchor" data-menu="threeAndYou"><span class="navbar-label">{{'lab102'|translate}}</span></a></li>
                        <li class="hidden-xs"><a href="javascript:void(0)" class="navbar-body-anchor is-active"><span class="navbar-label">{{'lab100'|translate}}</span></a></li>
                    </ul>
                </div>
                <div class="navbar-top-right">
                    <ul class="navbar-top-right-list navbar-top-list">
                        <li class="subNavThreeSupreme-wrapper"><span class="v-align-middle"></span><a href="http://web.three.com.hk/3supreme/index.html" id="subNavThreeSupreme" class="btn-image"><img src="https://www.three.com.hk/media/global/logo-3supreme.png" class="navbar-icon hidden-md visible-xs" alt="3Supreme" style="width: auto; height: 25px; margin-top: -4px;" /></a></li>
                        <li class="subNavLang-wrapper" style=" margin-left: 28px;"><span class="v-align-middle"></span>
                            <element ng-if="langId == 1">
                                <a href="javascript:void(0)" ng-click="clickLanguageNet(6)" class="btn-image">
                                    <img src="https://www.three.com.hk/media/global/Language Icon_EN_2.svg" class="navbar-icon" alt="EN" />
                                </a>
                            </element>
                            <element ng-if="langId == 6">
                                <a href="javascript:void(0)" ng-click="clickLanguageNet(1)"class="btn-image">
                                    <img src="https://www.three.com.hk/media/global/Language Icon_CN_2.svg" class="navbar-icon" alt="CN" />
                                </a>
                            </element>
                        </li>
                        <!-- <li class="subnavlogin-wrapper hidden-xs"><span class="v-align-middle"></span><a href="https://www.three.com.hk/3Care/chi/home.jsp?lang=chi&amp;appId=appCSNew" id="subNavLogin" class="btn-image"><img src="https://www.three.com.hk/media/global/Profile.svg" class="navbar-icon" alt="登入" /><span>登入</span></a></li>
                        --> <li class="navbar-searchIcon" ng-click="clickLanguage()"><span class="v-align-middle"></span><button type="button" class="btn-image"><span class="v-align-middle"></span><img th:src="@{/img/search.png}" class="navbar-icon" alt="" /><span class="navbar-label">{{'lab106'|translate}}</span></button></li>
                        <li class="navbar-searchIcon-xs" ng-click="clickLanguage()"><span class="v-align-middle"></span><button type="button" class="btn-image"><img th:src="@{/img/search-mobile.png}" class="navbar-icon" alt="Search" /></button></li>
                        <li class="navbar-hamburger-xs"><span class="v-align-middle"></span><button type="button" class="btn-image navbar-menu"><img th:src="@{/img/hamburger.png}" class="navbar-icon" alt="Menu" /></button></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <div class="content-type ng-binding" style="padding: 0px 12px;margin-top: 30px;color:#0f0f0f">{{detailed.title}}</div>
            <hr style="width:98%;border:none; border-bottom:2px solid black;">
            <!-- 详情-->
            <div>
                <div style="padding: 20px 12px;">
                    <div id="cc">
                        <div ng-bind-html="content" style="padding: 0px 8px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- E-form -->
            <div class="row" ng-if="eFormTypes.length > 0">
                <div class="content-box" style="padding-left: 20px;">
                    <button ng-repeat="e in eFormTypes" class="btn btn-default ng-binding" type="button" style="border-color:#71288E;margin-bottom: 10px;margin-left: 8px;border-radius: 50px;color: #71288E;padding: 10px 30px;" ng-click="getEform(e.id)">{{langId==1?e.hk:(langId==2?e.cn:e.en)}}</button>

                </div>
            </div>


            <hr style="width:97%;border:none; border-bottom:2px solid black;">

            <!-- feedback-->
            <div class="row feedback" style="margin-left: -3px;">
                <div class="col-xs-4 col-sm-3 col-md-2">{{feedbackTest}}</div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="col-xs-3 col-sm-3 col-md-2" style="padding-top: 20px;">
                        <div class="praise">
                            <span id="praise">
                                <img th:src="@{/img/hui1.png}" id="praise-img" class="animation">
                            </span>
                            <!--    <span id="praise-txt">{{dfcount}}</span>-->
                            <span id="add-num" style="display: inline;"></span>
                        </div>
                        <div class="praise">
                            <span id="praise1"><img th:src="@{/img/hui2.png}" id="praise-img1" class="animation"></span>
                            <span id="add-num1" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-8" style="padding-top: 28px;">
                        <div id="praiseNayTest" ng-show="praiseNayTest > 0">
                            <div>
                                <div style="font-weight: bold;">{{commonLabel6}}</div>
                                <textarea class="form-control"  style="margin-bottom: 10px;" rows="5" ng-model="dfContent" placeholder="{{commonLabel2}}"></textarea>
                            </div>
                            <div>
                                <div style="margin-bottom: 8px;font-weight: bold;">{{commonLabel3}}</div>
                                <input type="text" class="form-control" id="dfContentEmail" ng-model="dfContentEmail" placeholder="{{commonLabel4}}">
                                <div style="font-weight: bold;">{{commonLabel7}}</div>
                                <input style="margin-bottom: 10px;" type="text" class="form-control" id="dfContentNumber" ng-model="dfContentNumber" placeholder="{{commonLabel5}}">
                            </div>
                            <div style="padding-top: 20px;text-align: right;">
                                <button class="btn btn-default" type="button" ng-click="addDfContent()">{{commonLabel1}}</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Smart Guide -->
            <div class="hotspotsNav">
                <div class="content-box" style="padding: 0px 12px;">
                    <ul>
                        <li ng-repeat="detailed in smartGuide"><a th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a></li>
                    </ul>
                </div>
            </div>

            <div style="height: 50px;"></div>

        </div>
    </div>

</div>
<div style="clear: both;margin-bottom: 12px;height: 200px;"></div>
<!-- 尾部-->
<footer class="footer">
    <div class="container">
        <nav class="row footer-directory-list">
            <div class="col col-xs-6 col-md-2">
                <h6>{{'lab103'|translate}}</h6>
            </div>
            <div class="col col-xs-6 col-md-2">
                <h6>{{'lab104'|translate}}</h6>
            </div>
        </nav>
    </div>
</footer>

<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>

</body>
</html>